<div class="container">
      <div class="row">
          <div class="col-xs-12">
              <form 
                [formGroup]="form"
                (ngSubmit)="onSubmit()" >            
                <h3>Add new time zone</h3>
                <div class="form-row">          
                  <div class="col-md-8 form-group">  
                    <select 
                      formControlName="timeZone"
                      id="inputState" 
                      class="form-control">                 
                      <option selected>Choose Time Zone</option>         
                      <option                
                            [value]="timeZone" 
                            *ngFor="let timeZone of timeZones">{{timeZone}}</option>               
                    </select> 
                  </div>  
                  <div class="col-md-4 form-group">
                        <button class="btn btn-success" 
                        [ngClass]="{'red': editMode}"
                          type="submit"
                          [disabled]="form.invalid">Create</button>
                  </div>   
                </div>          
               </form>
          </div>
      </div>
</div>
